# vim: ft=systemd :

[Unit]
Description=Verify that monitord is available
Requires=docker.service
Requires=graphite.service
After=graphite.service

[Service]
TimeoutStartSec=30
Restart=no
Type=oneshot
ExecStart=/bin/bash -c ' \
  set -ex; \
  DOCKER_IP=`ifconfig docker0 | sed -n "s/^ *inet \([0-9.]*\) .*$/\1/p"`; \
  ping -c3 %H.monitrod.dev.plntr | grep $DOCKER_IP; \
  ping -c3 monitord.dev.plntr | grep $DOCKER_IP; \
'
