# vim: ft=systemd :

[Unit]
Description=Verify that skydns resolves some default entries
Requires=docker.service
Requires=skydns.service
After=skydns.service

[Service]
TimeoutStartSec=30
Restart=no
Type=oneshot
ExecStart=/bin/bash -c ' \
  set -ex; \
  PUBLIC_IP=`ifconfig eth0 | sed -n "s/^ *inet \([0-9.]*\) .*$/\1/p"`; \
  ping -c3 %H.host.dev.plntr | grep $PUBLIC_IP; \
'
