# vim: ft=systemd :

[Unit]
Description=Verify that skydns has configured /etc/resolv.conf
Requires=docker.service
After=skydns.service
Requires=skydns.service

[Service]
TimeoutStartSec=1m
Restart=no
Type=oneshot
ExecStart=/bin/bash -c ' \
  set -ex; \
  test `readlink -f /etc/resolv.conf` == /etc/resolv.conf; \
  grep -q "^nameserver 127.0.0.1" /etc/resolv.conf; \
  grep -q "^search dev.plntr" /etc/resolv.conf; \
  ! grep ^nameserver /etc/resolv.conf | grep -v 127.0.0.1; \
  ! grep ^search /etc/resolv.conf | grep -v dev.plntr; \
'
